node_modules
.next
out
build
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Remotion
remotion/node_modules
remotion/public/vos
remotion/public/vos_fixed
remotion/public/original.mp4
# Exclude the chrome headless shell and other large binaries
remotion/node_modules/.remotion/
.remotion/

# App Data
working_data/
public/uploads/*
public/rendered/*
public/samples/*

# Python
*.pyc
__pycache__/
*.json
!package.json
!tsconfig.json
!next-env.d.ts

.DS_Store
# Large files
*.mp4
*.mp3
*.wav
*.zip
*.tar.gz
*.pack
